<a href="#!/items">Back</a>

<img ng-src="{{$ctrl.mainImg}}" class="item"/>

<h1>{{$ctrl.item.name}}</h1>

<p>{{$ctrl.item.description}}</p>

<ul class="item-thumbs">
    <li ng-repeat="img in $ctrl.item.images">
        <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)"/>
    </li>
</ul>

<ul class="specs">
    <li>
        <span>Additional Features</span>
        <dl>
            <dt>Text Feature</dt>
            <dd>{{$ctrl.item.textFeature}}</dd>

            <dt>Boolean Features</dt>
            <dd>{{$ctrl.item.booleanFeature | checkmark}}</dd>
        </dl>
    </li>
</ul>
